<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="organize-zlang.ZPM">
    <Module>
      <Name>organize-zlang</Name>
      <Version>1.0.7</Version>
      <Description>Manage Language Extensions</Description>
      <Keywords>SYS, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="ZLANGC00.MAC"/>
       <Resource Name="ZZROBERT.INC"/>
       <Resource Name="ZZSHUTDOWN.INC"/>
       <Resource Name="ZZSYS.INC"/>
       <Resource Name="ZZUSER.INC"/>
    </Module>
  </Document>
</Export>
